.login__input {
    background-color: #C4C4C4;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 36px;
    margin-bottom: 20px;
    
}

input[type="file"] {
    display: none;
}