.recipe__wrapper {
    width: 100%;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}

.recipe__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.first__recipe {  
    cursor: pointer;
    font-size: 100px;
    color: #fff;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A73737;
}