.user__title {
    font-size: 36px;
    color: #000;
}

.generate__btns {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    button {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


