a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  .btn__generate {
      margin: 0 auto;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  a {
    width: 100%;
    max-width: 520px;
  } 
}

.app__title {
  font-size: 80px; 
  font-weight: normal;
  margin-bottom: 100px;
}

.password__input {
  position: relative;
  svg {
    width: 35px;
    height: 35px;
    right:15px;
    top: 20px;
    position: absolute;
    cursor: pointer;
  }
}

.home, .login {
  height: 100vh;
  
}
